{% extends get_admin_template('base_list_field', admin.code) %}


{% block field %}
    <div>
        {% if object.roles %}
            {% if object.roles[0] is same as('ROLE_ROOT') %}

            {% else %}
                {{ object.roles[0] }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}