{% extends get_admin_template('base_list_field', admin.code) %}


{% block field %}
    <div>
        {% if object.roles %}
        {% if object.roles[0] === 'ROLE_ROOT' %}

        {% else %}
            {{ object.roles[0] }}
        {% endif %}
    </div>
{% endblock %}