{% extends get_admin_template('base_list_field', admin.code) %}


{% block field %}
    <div>
        {% if object.roles %}
            {{ object.roles[0] }}
        {% endif %}
    </div>
{% endblock %}