{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    <div>
        <img src="http://phpstack-401769-1264820.cloudwaysapps.com/uploads/{{ object.logo.image }}" style="max-width:100px; max-height:100px;">
    </div>
{% endblock %}